.room-details {
  background-color: white;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 20px;
    &_margin-left {
      margin-left: 20px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    &_small {
      height: 50%;
    }
  }
  &__prev {
    display: flex;
    height: 70vh;
    margin-bottom: 70px;
    &_big {
      flex: 1 0 70%;
    }
    &_small {
      flex: 1 0 30%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__left-block {
    margin-right: 30px;
    &_stroke {
      display: flex;
    }
  }
  &__number-information {
    flex: 0 1 51.7%;
    display: flex;
    flex-direction: column;
    &_margin-top {
      margin-top: 20px;
    }
  }
  &__impressions-of-the-room {
    flex: 0 1 48.3%;
  }
  &__feedback {
    margin-top: 13px;
    &_margin-top {
      margin-top: 22px;
    }
  }
  &__rules {
    display: flex;
    margin-top: 33px;
    margin-bottom: 60px;
    &_first-rules {
      flex: 0 1 51.7%;
    }
    &_second-rules {
      flex: 0 1 48.3%;
    }
  }
  &__rules-cancellation-of-a-room-reservation {
    width: 330px;
  }
}