@import '../../theme/variables';

.details {
  display: inline-block;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  padding-bottom: 1.4285714285714285714285714285714rem; //20/14
  padding-right: 1.8571428571428571428571428571429rem; //26/14
  &__container {
    display: flex;
    align-items: center;
  }
  &__icon {
    display: flex;
    width: 3.4285714285714285714285714285714rem; //48/14
    height: 3.4285714285714285714285714285714rem; //48/14
    align-items: center;
    justify-content: center;
  }
  &__text {
    margin-left: 0.78571428571428571428571428571429rem; //11/14
  }
  &__header {
    color: $color-second;
    font-weight: bold;
  }
}