//-

mixin pagination(options)
    if !options
        - options = {}

    .pagination
        ul.pagination__items
            li.pagination__item.pagination__active
                a.pagination__link 1
            li.pagination__item
                a.pagination__link 2
            li.pagination__item
                a.pagination__link 3
            li.pagination__item.pagination__three-dots ...
            li.pagination__item.pagination__page-max
                a.pagination__link 15
            li.pagination__item.pagination__next
                a.pagination__link
        span.pagination__total 1 - 12 из 100+ вариантов аренды