include ../__expanded-block/dropdown__expanded-block

- var items = ['adults','children','baby']
- var texts = ['Взрослые','Дети','Младенцы']
- var counts = ['10','20','30']

- for (var i=0; i<3; i++)
    +expanded-block({item: items[i], text: texts[i], count: counts[i]})