.dropdown__expanded {
  display: none;
  top: $height - 2px;
  left: -1px;
  position: absolute;
  width: $width-middle !important;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top-color: rgba(31, 32, 65, 0);
  border-radius: 0 0 4px 4px;
  padding-top: 13px;
  padding-left: 15px;
  padding-right: 50px;
  box-sizing: border-box;
  justify-content: space-between;
  & div {

  }
  span {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    margin-bottom: 22px;
  }
}
.dropd {
  border-radius: 4px 4px 0 0;
}
.active {
  display: flex;
}