include ../dropdown/dropdown

//-
    options.items -
    options.titleTo - заголовок второго поля

mixin dropdown-date (options)
    if !options
        - options = {}

    - var idDate = ['date-from','date-to']
    - for(var i=0; i < options.items.length; i++)
        - options.items[i].id = idDate[i]

    .dropdown-date
        each item in options.items
            .dropdown-date__item
                h3.header_level-3=item.title
                +dropdown({
                    id: item.id,
                    value: 'ДД.ММ.ГГГГ',
                    size: 'small',
                    type: 'date'
                })