include ../dropdown/dropdown

//-
    options.items -
    options.titleTo - заголовок второго поля
    options.placeholder -

mixin dropdown-date (options)
    if !options
        - options = {}

    .dropdown-date
        each item in options.items
            .dropdown-date__item
                h3.dropdown-date__title.header_level-3=item.title
                +dropdown({
                    id: false,
                    value: item.placeholder || 'ДД.ММ.ГГГГ',
                    size: 'small',
                    type: 'date'
                })