.text-field__input {
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 0 12px 15px;
  box-sizing: border-box;
  font-family: $MontserratFont;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  &:hover, &:focus {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
  &::placeholder {
    color: rgba(31, 32, 65, 0.25);
  }
}