.colors-and-type__title_level_h1 {
  margin-left: 59px;
  position: relative;
  &::before {
    content: "H1";
    position: absolute;
    left: -58px;
    top: 1px;
    font-family: $MontserratFont;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: $DarkShade25;
  }
}