//-
    options.type - тип кнопки, возможные значения: 'arrow-button', 'outline', 'no-outline'
    options.text - текст кнопки

mixin button(options)
    if !options
        - options = {}

    - var type = options.type === 'arrow-btn' ? 'btn_with-arrow' : options.type === 'outline' ? 'btn_outline' : options.type === 'link' ? 'btn_link' : ''

    button.btn(class=type)
        a.btn__text.header_level-3(class='btn__text_' + options.type href=options.href || 'link-from-button')=options.text
