include  _them/_logo2/logo_them_logo2

mixin logo (options)
    if !options
        - options = {}

    - var them = options.them ? 'logo_them_' + options.them : '';

    if options.them === 'logo1'
        div.logo(class=them)
    else
        if options.them === 'logo2'
            +logo2(them)