//-
  options.items - массив с элементами меню
  options.items[0].name - имя элемента меню
  options.items[0].href - ссылка элемента меню

mixin menu(options)
  if !options
    - options = {}
  if !options.items
    - options.items = []

  .menu.js-menu
    .menu__button.js-menu__button
      include ./img/menu-options.svg
    nav.js-menu__list
      ul.menu__list
        for item in options.items
          if (!item.submenu)
            li.menu__item
              a.menu__link(href = item.href)= item.name
          else
            li.menu__item.menu__with-submenus
              a.menu__link(href = item.href)= item.name
              ul.menu__submenu
                each submenu in item.submenu
                  li.menu__submenu-item
                    a.menu__submenu-link(href = submenu.href)= submenu.name