@import '../../theme/variables.scss';

.menu {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;

  &__button {
    display: flex;
    padding: 0.4rem 0.6rem;
    border: 1px solid white;
    border-radius: 0.3rem;
    background-color: $color-first;

    @include media-breakpoint-up($sm) {
      display: none;
    }

    &:hover {
      background-color: $color-first;
    }

    & svg {
      width: 2.5rem;
    }
  }

  &__list {
    display: none;

    @include media-breakpoint-up($sm) {
      display: flex;
      margin-right: 28px;
    }

    @include media-breakpoint-down($sm) {
      &_open {
        position: absolute;
        z-index: 10;
        top: 100%;
        right: -2rem;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 2rem;
        background-color: #4eb7a8;
      }
    }
  }

  &__item {
    cursor: pointer;
    //padding: 1.9rem 0rem;
    padding: 23px 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
    position: relative;

    &:not(:first-child) {
      margin-top: 1rem;
      margin-left: 0;

      @include media-breakpoint-up($sm) {
        margin-top: 0;
        margin-left: 29px;
      }
    }

    &:hover {
      color: rgba(31, 32, 65, 0.75);
      text-shadow: 0 0 .65px rgba(31, 32, 65, 0.75), 0 0 .65px rgba(31, 32, 65, 0.75);
      & > .menu__submenu {
        display: block;
      }
    }
  }
  &__with-submenus {
    padding-right: 14px;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 7px;
      height: 7px;
      border: 2px solid rgba(31, 32, 65, 0.5);
      border: {
        top: none;
        left: none;
      }
      transform-origin: 8px 2px;
      transform: rotate(45deg) translateY(-50%);
    }
  }
  &__submenu {
    z-index: 10;
    display: none;
    position: absolute;
    left: 0;
    top: 80%;
    padding-top: 10px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    text-align: left;
    &-item {
      padding: 10px;
      padding: {
        left: 20px;
        right: 20px;
      }
      list-style: none;
      //margin-top: 10px;
      text-shadow: none;
      &:hover {
        text-shadow: 0 0 .65px rgba(31, 32, 65, 0.75), 0 0 .65px rgba(31, 32, 65, 0.75);
        background-color: rgba(31, 32, 65, 0.1);
      }
    }
  }
}
