@import "../../theme/variables";

.search-room {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  &__container {
    display: flex;
  }
  &__list {
    order: 2;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__card {
    margin-bottom: 20px;
  }
  &__filter {
    flex: 1 0 266px;
    box-sizing: content-box;
    order: 1;
    margin-right: 5.2%;
    background-color: white;
  }
  &__pagination {
    display: flex;
    justify-content: center;
  }
  &_margin-bottom_5px {
    margin-bottom: 5px;
  }
}

.filter {
  background-color: white;
  &__range-date {
    margin-bottom: 20px;
  }

  &__dropdown-guests {
    margin-bottom: 31px;
  }

  &__range-slider {
    margin-bottom: 24px;
    &_subtext {
      display: block;
      margin-top: -2px;
      font-size: 12px;
      color: $color-third
    }
  }

  &__checkbox-buttons {
    margin-bottom: 30px;
  }

  &__rich-checkbox {
    margin-bottom: 29px;
    &_first {
      margin-top: 17px;
    }
    &_second {
      margin-top: 8px;
    }
  }

  &__dropdown-rooms {
    margin-bottom: 30px;
  }
}