mixin radio-buttons
    div.radio-buttons
        input(type="radio" id="radio1" name="radio" checked).radio-buttons__input
        label(for="radio1").radio-buttons__text Мужчина
        input(type="radio" id="radio2" name="radio").radio-buttons__input
        label(for="radio2").radio-buttons__text Женщина