include ../../title/title

mixin expanded-block(options)
    if !options
        - options = {}

    - var item = options.item ? options.item : ''

    div(class=item).dropdown__item
        div.dropdown__item-text
            +title({content: options.text, level: 'h3', transform: 'uppercase'})
        div.dropdown__counting-unit
            span.dropdown__button-minus
            span.dropdown__count=options.count
            span.dropdown__button-plus
