include ../dropdown/dropdown
include ../dropdown-date/dropdown-date
include ../button/button

mixin booking-card (options)
    if !options
        - options = {}

    .booking-card.cards
        .booking-card__header
            span.booking-card__room-number
                span.header_level-2.booking-card__symbol №
                span.header_level-1 888
                span.header_level-3.booking-card__category-of-room Люкс
            span.booking-card__price-day
                span.booking-card_weight_bold 9 900Р
                | в сутки
        .booking-card__date-range
            +dropdown-date({
                items: [{title: 'Прибытие'},{title: 'Выезд'}]
            })
        .booking-card__number-of-guests
            h3.header_level-3.booking-card__dropdown-title Гости
            +dropdown({
                value: 'Сколько гостей',
                items: ['Взрослые', 'Дети', 'Младенцы'],
                size: 'big',
                controlBar: 'true'
            })
        .booking-card__price
            p.booking-card__price-services
                span.booking-card__price-item 9 900 x 4 суток
                span.booking-card__price-item Сбор за услуги: скидка 2 179Р
                span.booking-card__price-item Сбор за дополнительные <br> услуги
            p.booking-card__price-marks
                span.booking-card__price-item.booking-card__price-mark
                span.booking-card__price-item.booking-card__price-mark.show
                span.booking-card__price-item.booking-card__price-mark.show
            p.booking-card__price-rate
                span.booking-card__price-item 39 960Р
                span.booking-card__price-item 0Р
                span.booking-card__price-item 300Р
        .booking-card__total
            span.header_level-2 Итого
            span.header_level-2 38 081Р
        .booking-card__btn-book
            +button({
                text: 'Забронировать',
                type: 'arrow-btn'
            })