include ../title/title

mixin text-field(options)
    if !options
        - options = {}

    - var title = options.title ? options.title : ''
    - var value = options.value ? options.value : ''
    - var placeholder = options.placeholder ? options.placeholder : ''

    - var masked = options.masked === "true" ? 'text-field_masked' : ''
    - var type = options.type ? 'text-field_type_' + options.type : ''


    - var classAll = [masked,type, subscription]

    div.text-field(class=classAll)
        label
            +title({content: title, level: 'h3', transform: 'uppercase'})
            input.text-field__input(type='text' placeholder=placeholder value=value)