mixin text-field(options)
    if !options
        - options = {}
    if !options.block
        - options.block = {}

    if !options.block.type
        - options.block.type = 'text'
    if !options.block.blockName
        - options.block.blockName = 'text-field'

    - var block = options.block
    if (block.title)
        div(class=block.blockName)
            label.label(class=block.blockName + '__title')=block.title
            +input(block.type, block.placeholder, block.blockName + '__input', block.value)
    else
        div(class=block.blockName)
            +input(block.type, block.placeholder, block.blockName + '__input', block.value)