mixin text-field(options)
    if !options
        - options = {}
    if !options.block
        - options.block = {}

    if options.block.content
        - var title = options.block.content
    else
        - var title = ''

    if options.mix
        - var mix = options.mix + '__text-field'
    else
        - var mix = ''

    if !options.block.mod
        - options.block.mod = {}
    else
        if options.block.mod.masked === "true"
            - var modMasked = 'text-field_masked'
        else
            - var modMadked = ''

    if options.block.placeholder
        - var placeholder = options.block.placeholder
    else
        - var placeholder = ''

    div.text-field(class=mix class=modMasked)
        +title({
            block: {
                content: title,
                tag: 'label',
                mod: {
                    level: 'h3',
                    transform: 'uppercase'
                }
            },
            mix: 'text-field'
        })
        input.text-field__input(type='text' placeholder=placeholder)