.text-field {
  outline: none;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  line-height: 18px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 320px;
  height: 44px;
  padding: {
    left: 15px;
    top: 13px;
    bottom: 13px;
  }
  margin-top: 5px;
  &:hover,&:focus {
    border-color: rgba(31, 32, 65, 0.5);
  }
  &::placeholder {
    color: rgba(31, 32, 65, 0.25);
  }
}

@import "_width/text-field_middle_width.scss";
@import "_type/text-field_type_subscription.scss";