@import "../../theme/variables";

.range-slider {
  min-width: 15.714285714285714285714285714286rem; //220/14
  height: 1.4285714285714285714285714285714rem; //20/14
  position: relative;
  &__value-field {
    position: absolute;
    top: -2.1428571428571428571428571428571rem; //-30/14
    right: 0;
    font-size: 0.85714285714285714285714285714286rem; //12/14
    line-height: 1.0714285714285714285714285714286rem; //15/14
  }
  &__input {
    display: none;
  }
}

.irs {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  &--flat {
    position: relative;
    height: 1.0714285714285714285714285714286rem; //15/14
    .irs-line {
      top:0;
      border: 1px solid rgba(31, 32, 65, 0.25);
      height: 0.42857142857142857142857142857143rem; //6/14
      background-color: white;
    }
    .irs-handle {
      top: 50%;
      transform: translateY(-50%);
      width: 0.85714285714285714285714285714286rem; //12/14
      height: 0.85714285714285714285714285714286rem; //12/14
      box-sizing: content-box;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border: 0.14285714285714285714285714285714rem solid white; //2/14
      border-radius: 50%;
      &>i:first-child {
        display: none;
      }
      &, .from {

      }
      &, .to {

      }
    }
    .irs-bar {
      top: 50%;
      transform: translateY(-50%);
      height: 0.42857142857142857142857142857143rem; //6/14
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
  }
}
