//-


mixin range-slider(options)

    .range-slider
        .range-slider__container
            .range-slider__nolinear
                .range-slider__from
                .range-slider__to
            .range-slider__linear