include ../title/title
include ../text/text

mixin dropdown(options)
    if !options
        - options = {}

    - var title = options.title ? options.title : ''
    - var text = options.text ? options.text : ''
    - var filterDate = options.filterDate === 'true' ? 'dropdown_filter_date' : ''
    - var type = options.type ? 'dropdown_type_' + options.type : ''

    - var classAll = [type,filterDate]

    .dropdown(class=classAll)
        +title({content: title, level: 'h3', transform: 'uppercase'})
        .dropdown__select
            +text({content: text})
