mixin dropdown(options)
    if !options
        - options = {}
    if !options.block
        - options.block = {}

    if !options.block.content
        - options.block.content = {}
    else
        if options.block.content.title
            - var title = options.block.content.title
        else
            - var title = ''
        if options.block.content.text
            - var text = options.block.content.text
        else
            - var text = ''

    if !options.block.mod
        - options.block.mod = {}
    else
        if options.block.mod.date === 'true'
            - var modDate = 'dropdown_date'
        else
            - var modDate = ''
        if options.block.mod.marginLeft
            - var modMargin = 'dropdown_margin_left'
        else
            - var modMargin = ''

    if options.mix
        - var mix = options.mix + "__dropdown"
    else
        - var mix = ''

    .dropdown(class=mix class=modDate class=modMargin)
        +title({
            block: {
                content: title,
                tag: 'label',
                mod: {
                    level: 'h3',
                    transform: 'uppercase'
                }
            },
            mix: 'text-field'
        })
        .dropdown__select
            +text({
                block: {
                    content: text,
                    tag: 'p'
                },
                mix: 'dropdown'
            })
