mixin dropdown(options)
    if !options
        - options = {}
    if !options
        - options.items = []
    div(class= options.block.blockName)
        label.label(class= options.block.blockName + '__label')= options.block.title
        select.select(class= options.block.blockName + '__select')
            for item in options.block.items
                option(value = item.value)= item.name
