.room-information {
  &__item {
    width: 280px;
    box-sizing: border-box;
    padding-left: 60px;
    padding-bottom: 22px;
    padding-top: 22px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }
  &__title {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }
  &__text {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}