include ../text-field/text-field
include ../radio-buttons/radio-buttons
include ../toggle/toggle
include ../button/button

mixin registration-card(options)
    if !options
        - options = {}

    .registration-card.cards
        h1.header_level-1 Регистрация аккаунта
        .registration-card__name
            +text-field({
                placeholder: 'Имя'
            })
        .registration-card__surname
            +text-field({
                placeholder: 'Фамилия'
            })
        .registration-card__gender
            +radio-buttons({
                name: 'gender',
                items: [{value: 'Мужчина', id: 'male', isChecked: true},{value:'Женщина', id: 'female'}]
            })
        .registration-card__date-of-birth
            h3.header_level-3.registration-card__text-field-title Дата рождения
            +text-field({
                placeholder: 'ДД.ММ.ГГГГ',
                type: 'masked'
            })
        .registration-card__login-information
            h3.header_level-3.registration-card__text-field-title Данные для входа в сервис
            .registration-card__email
                +text-field({
                    type: 'email',
                    placeholder: 'Email'
                })
            .registration-card__password
                +text-field({
                    placeholder: 'Пароль',
                    type: 'password'
                })
        .registration-card__special-offers
            +toggle({
                value: 'Получать спецпредложения',
                id: 'special-offers'
            })
        .registration-card__payment-btn
            +button({
                text: 'Перейти к оплате',
                type: 'arrow-btn'
            })
        .registration-card__entrance-btn
            span.registration-card_text-color_black Уже есть аккаунт на Toxin
            +button({
                text: 'Войти',
                type: 'outline'
            })