include ../input/input
include ../radio-buttons/radio-buttons
include ../toggle/toggle
include ../button/button

mixin registration-card(options)
    if !options
        - options = {}

    .registration-card.cards
        h1 Регистрация аккаунта
        .registration-card__name
            +input({
                type: 'text',
                placeholder: 'Имя'
            })
        .registration-card__surname
            +input({
                type: 'text',
                placeholder: 'Фамилия'
            })
        .registration-card__gender
            .registration-card__gender-mans
                +input({type: 'radio', name: 'gender', label: 'Мужчина', isChecked: true})
            .registration-card__gender-womans
            +input({type: 'radio', name: 'gender', label: 'Женщина'})
        .registration-card__date-of-birth
            h3.header_level-3.registration-card__text-field-title Дата рождения
            +input({
                type: 'text',
                placeholder: 'ДД.ММ.ГГГГ'
            })
        .registration-card__login-information
            h3.header_level-3.registration-card__text-field-title Данные для входа в сервис
            .registration-card__email
                +input({
                    type: 'email',
                    placeholder: 'Email'
                })
            .registration-card__password
                +input({
                    type: 'password',
                    placeholder: 'Пароль'
                })
        .registration-card__special-offers
            +input({type: 'toggle', label: 'Получать спецпредложения'})
        .registration-card__payment-btn
            +button({
                text: 'Перейти к оплате',
                type: 'arrow-btn'
            })
        .registration-card__entrance-btn
            span.registration-card_text-color_black Уже есть аккаунт на Toxin
            +button({
                text: 'Войти',
                type: 'outline'
            })