include ../__expanded-block/dropdown__expanded-block

- var items = ['bedroom','the-beds','bathrooms']
- var texts = ['Спальни','Кровати','Ванные комнаты']
- var counts = ['2','2','0']

- for (var i=0; i<3; i++)
+expanded-block({item: items[i], text: texts[i], count: counts[i]})