.dropdown-counting__count {
  &::before {
    content: "+";
    position: absolute;
    top: -7px;
    left: 20px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.5);
    border-radius: 22px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
  }
  &::after {
    content: "-";
    position: absolute;
    top: -7px;
    left: -45px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.5);
    border-radius: 22px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
  }
}