extends ../base/base
include ../../components/search-card/search-card

block title
    | Toxin
block header
    .intro
        .container
            .intro__search-card
                +search-card()

            span.intro__text Лучшие номера для вашей работы, отдыха и просто вдохновения
block main




