doctype html
html(lang='en')
    head
        title jade
    body
        include ../../modules/modules
        include ui-kit/colors-and-type/colors-and-type
        include ui-kit/form-elements/form-elements.pug



