doctype html
html(lang='en')
    head
        title jade
        meta(name="viewport" content="width=device-width,initial-scale=1")
    body
        include ../../modules/modules
        include ui-kit/colors-and-type/colors-and-type
        include ui-kit/form-elements/form-elements.pug



