@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Regular.ttf'),
       url('/assets/fonts/Montserrat/regular/Montserrat-Regular.woff') format('woff'),
       url('/assets/fonts/Montserrat/regular/Montserrat-Regular.ttf') format('truetype'),
       url('/assets/fonts/Montserrat/regular/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Bold.ttf'),
       url('/assets/fonts/Montserrat/bold/Montserrat-Bold.woff') format('woff'),
       url('/assets/fonts/Montserrat/bold/Montserrat-Bold.ttf') format('truetype'),
       url('/assets/fonts/Montserrat/bold/Montserrat-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: local('MQuicksand-Regular.ttf'),
       url('/assets/fonts/Quicksand/regular/Quicksand-Regular.woff') format('woff'),
       url('/assets/fonts/Quicksand/regular/Quicksand-Regular.ttf') format('truetype'),
       url('/assets/fonts/Quicksand/regular/Quicksand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: local('MQuicksand-Bold.ttf'),
       //url('/assets/fonts/Quicksand/bold/Quicksand-Bold.woff') format('woff'),
       url('/assets/fonts/Quicksand/bold/Quicksand-Bold.ttf') format('truetype'),
       url('/assets/fonts/Quicksand/bold/Quicksand-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}