// Fonts
$MontserratFont: Montserrat, sans-serif;
$QuicksandFont: Quicksand, sans-serif;

//Size
$H1: 24px;
$H2: 19px;
$H3: 12px;
$P: 14px;
$Size19 : 19px;

//Colors
$DarkShade100: rgba(31, 32, 65, 1);
$DarkShade75:  rgba(31, 32, 65, 0.75);
$DarkShade50:  rgba(31, 32, 65, 0.5);
$DarkShade25:  rgba(31, 32, 65, 0.25);
$DarkShade5:   rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;

//Title