.form-elements__dropdown-list-with-number-of-rooms {
  position: relative;
  width: 266px;
  &::before {
    content: 'default';
    position: absolute;
    top: 2px;
    right: 0;
    text-transform: uppercase;
    font-family: $MontserratFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
  }
}
