.form-elements__grid {
  max-width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px 126px 320px 72px 320px;
  grid-gap: 101px 0px;
  grid-template-areas:
          "block1 . block2 . block3"
          "block4 . block5 . block6";
}