include ../text-field/text-field
include ../dropdown/dropdown
include ../dropdown-date/dropdown-date

mixin search-card(options)
    if !options
        - options = {}

    .search-card
        h1.header_level-1 Найдём номера под <br> ваши пожелания
        +dropdown-date({
            items: [{title: 'Прибытие'},{title: 'Выезд'}]
        })
        h3.header_level-3 Гости
        +dropdown({
            value: 'Сколько гостей',
            items: ['Взрослые', 'Дети', 'Младенцы'],
            size: 'big',
            controlBar: 'true'
        })
