@import '../../theme/variables.scss';

.search-card {
  &__date-range {
    margin-top: 21px;
    margin-bottom: 20px;
  }
  &__dropdown-title {
    margin-bottom: 5px;
  }
  &__btn-search {
    margin-top: 31px;
  }
}