include ../input/input
include ../radio-buttons/radio-buttons
include ../toggle/toggle
include ../button/button

mixin signup-card(options)
    if !options
        - options = {}

    form.signup-card.cards
        h1 Регистрация аккаунта
        .signup-card__name
            +input({
                name: 'firstname',
                type: 'text',
                placeholder: 'Имя'
            })
        .signup-card__surname
            +input({
                name: 'lastname',
                type: 'text',
                placeholder: 'Фамилия'
            })
        .signup-card__gender
            .signup-card__gender-mans
                +input({type: 'radio', name: 'sex', value: 'male', label: 'Мужчина', isChecked: true})
            .signup-card__gender-womans
            +input({type: 'radio', name: 'sex', value: 'female', label: 'Женщина'})
        .signup-card__date-of-birth
            h3.header_level-3.signup-card__text-field-title Дата рождения
            +input({
                type: 'text',
                placeholder: 'ДД.ММ.ГГГГ'
            })
        .signup-card__login-information
            h3.header_level-3.signup-card__text-field-title Данные для входа в сервис
            .signup-card__email
                +input({
                    name: 'email',
                    type: 'email',
                    placeholder: 'Email'
                })
            .signup-card__password
                +input({
                    name: 'password',
                    type: 'password',
                    placeholder: 'Пароль'
                })
        .signup-card__special-offers
            +input({type: 'toggle', label: 'Получать спецпредложения'})
        .signup-card__payment-btn
            +button({
                text: 'Перейти к оплате',
                type: 'arrow-btn'
            })
        .signup-card__entrance-btn
            span.signup-card_text-color_black Уже есть аккаунт на Toxin
            +button({
                text: 'Войти',
                type: 'outline'
            })