.dropdown__count {
  display: inline-block;
  width: 31px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  line-height: 15px;
  color: #1F2041;
}