include ./base-data

block variables

include ../../components/layout/layout

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width,initial-scale=1")
        title
            block title
    body
        +layout()
            +layout__main()
                block main
        block scripts