.dropdown__button-plus {
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50px;
  position: relative;
  &:before {
    content: "+";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: rgba(31, 32, 65, 0.5);
  }
}