include ../menu/menu
include ../button/button

//-
  options.menuItems - массив елементов меню
  options.userName - имя авторизованного пользователя.
  options.buttons - кнопки в меню

mixin header(options)
  if !options
    - options = {}

  .header
    .header__container.container
      if options.logo
        .header__logo
          img(alt="logo" src=options.logo)
      if options.menuItems
        .header__menu
          +menu({items: options.menuItems, userName: options.userName, buttons: options.buttons})