section.colors-and-type
    div.container.colors-and-type__container
        div.colors-and-type__logo
            +logo({them: 'logo1'})

        .colors-and-type__color-block
            - var title = ['Dark Shade 100%','Dark Shade 75%','Dark Shade 50%','Dark Shade 25%','Dark Shade 5%','Purple','Green'];
            - var text = ['#1F2041','#1F2041','#1F2041','#1F2041','#1F2041','#BC9CFF','#6FCF97'];
            - var modBgColor = ['dark-shade-100','dark-shade-75','dark-shade-50','dark-shade-25','dark-shade-5','purple','green'];

            - for (var i=0; i<7; i++)
                div.colors-and-type__color
                    +color({title: title[i], text: text[i], bgColor: modBgColor[i]})

        .colors-and-type__title-block

            - var content = ['This one is the sub-section or widget title','Next one is the item title inside widgets','This is a label or CTA text'];
            - var level = ['h1','h2','h3'];
            - var transform = ['','','uppercase'];

            - for (var i=0; i<3; i++)
                div.colors-and-type__title(class='colors-and-type__title_level_' + level[i])
                    +title({content: content[i], level: level[i], transform: transform[i]})

            div.colors-and-type__text
                +text({
                    block: {
                        content: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
                        tag: 'p',
                        mod: {
                            width: 'middle'
                        }
                    },
                    mix: ''
                })
