.dropdown__button-apply {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BC9CFF;
  float: right;
}