include ../like-button/like-button

//-
    options.name - имя человека оставившего отзыв.
    options.avatar - аватар.
    options.text - текст отзыва.
    options.likes - количество лайков.

mixin feedback(options)
    if !options
        - options = {}

    .feedback
        .feedback__avatar-and-likes
            img.feedback__avatar(alt="avatar" src=options.avatar||require('./img/avatar/no-avatar.jpg') width=48 height=48)
            .feedback__likes
                +like-button({likes: options.likes})
        .feedback__name-and-feedback-text
            .feedback__name!=options.name||'Incognito'
            span.feedback__countdown-days 5 дней назад
            .feedback__feedback-text
                p!=options.text