//-
    options.label - текст в поле ярлыка
    options.description - расширенное поле для пояснения
    options.isChecked - is checked. По умолчанию: 'false' (bool)

mixin checkbox(options)
    if !options
        - options = {}

    - var isRich = options.isRich === 'true' ? 'checkbox_rich' : '';

    .checkbox.js-checkbox
        .checkbox__element(class=options.isChecked === true ? 'checkbox_checked':'')
        if !options.description
            span.checkbox__label!=options.label||'Checkbox label'
        else
            .checkbox__label_rich
                span.checkbox__label(class= options.description ? ' checkbox__label_text_bold':'')!=options.label
                .checkbox__label_description!=options.description
