@import "../../theme/variables";

$footer-override: ();
@if variable-exists(footer-settings) {
  $footer-override: $footer-settings;
}

// ****** Settings ******
$footer-settings: map-merge((
        content-max-width: 900px,
), $footer-override);


.footer {
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.2);
  &__container {
    max-width: map-get($footer-settings, content-max-width);
    margin: 0 auto;
  }
  &__top {
    display: flex;
    padding-top: 100px;
    padding-bottom: 97px;
  }
  &__top-item {
    flex-basis: 33.33%;
    color: rgba(31, 32, 65, 0.5);
    &:first-child {
      flex: 1 0 22%;
      margin-right: 45px;
    }
    &:not(:nth-child(1)) {
      margin-top: 4px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
  }

  &__nav-item {
    &:not(:first-child) {
      margin-top: 14px;
    }
    white-space: nowrap;
  }

  &__subscribe {
    &-text {
      margin-top: 21px;
      margin-bottom: 20px;
    }
  }

  &__copyright {
    display: flex;
    max-width: map-get($footer-settings, content-max-width);
    box-sizing: padding-box;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-top: 21px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
  &__subtext {
    margin-top: 11px;
  }

  &__social {
    &_margin-top {
      margin-top: 29px;
    }
  }

  &_border-top {
    border-top: 1px solid rgba(31, 32, 65, 0.1);
  }
  &_center {
    max-width: 550px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 103px;
  }
}

.social {
  &__icon {
    &:not(:first-child) {
      margin-left: 23px;
    }
    display: inline-block;
  }
}
