.form-elements__dropdown_default .form-elements__dropdown {
  position: relative;
  &::before {
    content: 'default';
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-family: $MontserratFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
  }
}