include ../like-button/like-button

//-
    options.name - имя человека оставившего коммент.
    options.avatar - аватар.
    options.comment - коммент.
    options.likes - количество лайков.

mixin comments(options)
    if !options
        - options = {}

    .comments
        .comments__first-block
            img.comments__avatar(alt="avatar" src=options.avatar||require('./img/avatar/no-avatar.jpg') width=48 height=48)
            .comments__like
                +like-button({likes: options.likes})
        .comments__second-block
            .comments__name!=options.name||'Incognito'
            span.comments__days 5 дней назад
            .comments__text
                p!=options.comment