.dropdown-counting {
  display: inline-block;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  border-radius: 4px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  margin-top: 5px;
}

@import "__dropdown/dropdown-counting__dropdown";
@import "__expanded/dropdown-counting__expanded";
@import "__count/dropdown__count";