section.form-elements
    +logo({
        block: {
            mod: {
                them: 'logo1'
            }
        },
        mix: 'form-elements'
    })

    .form-elements__text-field_default
        +text-field({
            block: {
                content: 'text field'
            },
            mix: 'form-elements'
        })

    .form-elements__text-field_focus
        +text-field({
            block: {
                content: 'text field'
            },
            mix: 'form-elements'
        })

    .form-elements__dropdown_default
        +dropdown({
            block: {
                content: 'Dropdown'
            },
            mix: 'form-elements'
        })