.form-elements {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  border: 1px solid white;
  z-index: 1;
}

@import "__grid/form-elements__grid";
@import "__logo/form-elements__logo";
@import "__header/form-elements__header";

//Text-field
@import "__text-field/form-elements__text-field";
@import "__text-field/_default/form-elements__text-filed_default";
@import "__text-field/_focus/form-elements__text-field_focus";
@import "__text-field/_margin/form-elements__text-field_margin_top-19";
@import "__text-field/_margin/form-elements__text-field_margin_top-20";
@import "__text-field/_margin/form-elements__text-field_margin_top-39";
@import "__text-field/_type/form-elements__text-field_type_subscription";
@import "__text-field/_masked/form-elements__text-field_masked";

//Dropdown
@import "__dropdown/_default/form-elements__dropdown_default";
@import "__dropdown/_margin/form-elements__dropdown_margin_top-18";
@import "__dropdown/_margin/form-elements__dropdown_margin_top-39";
@import "__dropdown/_margin/form-elements__dropdown_margin_left-20";
@import "__dropdown/_type/form-elements__dropdown_type_date";
@import "__dropdown/_type/form-elements__dropdown_type_filter-date";
@import "__dropdown/form-elements__dropdown";

@import "__row-col/form-elements__row1-col1";
@import "__row-col/form-elements__row1-col2";
@import "__row-col/form-elements__row1-col3";
@import "__row-col/form-elements__row2-col1";
@import "__row-col/form-elements__row2-col2";
@import "__row-col/form-elements__row2-col3";

