doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Поиск номеров в отеле"
        link(rel="stylesheet" href="css/style.css")
    body
        label.label(for="email") text field
        input.text-field(type="text" id="email" value="Email" disabled)