doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Поиск номеров в отеле"
        link(rel="stylesheet" href="css/style.css")
    body
        include modules
        +text-field({
            block: {
                blockName: '',
                title: 'text field',
                type: 'text',
                placeholder: 'Email'
            }
        })

        +text-field({
            block: {
                blockName: '',
                title: 'Text field',
                type: 'text',
                value: 'This is pretty awesome'
            }
        })


        //+dropdown('Dropdown','Сколько гостей','Сколько гостей','Сколько гостей')

        +dropdown({
            block: {
                blockName: 'dropdown',
                title: 'Имя блока',
                items: [{value: "1", name: "Сколько гостей"},
                        {value: "2", name: "Сколько гостей тут"}]
            }
        })

        +text-field({
            block: {
                blockName: '',
                title: 'masked text field',
                type: 'text',
                placeholder: 'ДД.ММ.ГГГГ'
            }
        })

        div.dropdown-date
            label.label(for="dateMask") date dropdown
            input.dropdown.dropdown-date__item(type="text" id="dateMask" placeholder="ДД.ММ.ГГГГ")

        div.dropdown-date
            label.label(for="date") date dropdown
            input.dropdown.dropdown-date__item(type="text" id="date" placeholder="19.08.2019")

        label.label(for="filterDate") filter date dropdown
        input.dropdown.dropdown_middle_width(type="text" id="filterDate" placeholder="19 авг - 23 авг")

        label.label(for="subscription") subscription text field
        input.text-field.text-field_type_subscription.text-field_middle_width(type="text" id="subscription" placeholder="Email")

        //+dropdown-counting('Dropdown','Спальни','Ванные комнаты','кровати','блабла','и еще одна')
        //+dropdown-counting('Dropdown','Взрослые','Дети','Младенцы')

        +expandable-checkbox-list('expandable checkbox list',
            'Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампуть','Телевизор','Шампунь')

        +room-information
        +checkbox-button('checkbox buttons','Можно курить','Можно с питомцами','Можно пригласить гостей <br> (до 10 человек)')
        +radio-buttons

        //+text-field

        +menu({
            items: [{href: "www.ok.com", name: "Главная"},
                    {href: "www.ok/katalog.com", name: "Каталог"}]
        })
