doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Поиск номеров в отеле"
        link(rel="stylesheet" href="css/style.css")
    body
        label.label(for="email") text field
        input.text-field(type="text" id="email" placeholder="Email")

        label.label(for="awesome") text field
        input.text-field(type="text" id="awesome" value="This is pretty awesome")

        label.label(for="dropdown") dropdown
        select.dropdown( name="dropdown" id="dropdown")
            option(value="1") Сколько гострей
            option(value="2") Сколько гострей
            option(value="3") колько гострей

        label.label(for="masked") masked text field
        input.text-field(type="text" id="masked" placeholder="ДД.ММ.ГГГГ")
        br

        div.dropdown_display_inline-block
            label.label(for="dateMask") date dropdown
            input.dropdown.dropdown_small_width(type="text" id="dateMask" placeholder="ДД.ММ.ГГГГ")

        div.dropdown_display_inline-block
            label.label(for="date") date dropdown
            input.dropdown.dropdown_small_width(type="text" id="date" placeholder="19.08.2019")

        label.label(for="filterDate") filter date dropdown
        input.dropdown.dropdown_middle_width(type="text" id="filterDate" placeholder="19 авг - 23 авг")

        label.label(for="subscription") subscription text field
        input.text-field.text-field_type_subscription.text-field_middle_width(type="text" id="subscription" placeholder="Email")

        label.label(for="dropdown2") dropdown
        div.dropdown.dropdown_position_relative.dropdown_middle_width
            span 2спальни, 2 кровати
            div.dropdown__expanded.dropdown_middle_width
