@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat/Montserrat-Regular.woff) format('woff'),
    url(fonts/Montserrat/Montserrat-Regular.ttf) format('truetype'),
    url(fonts/Montserrat/Montserrat-Regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat/Montserrat-Bold.woff) format('woff'),
  url(fonts/Montserrat/Montserrat-Bold.ttf) format('truetype'),
  url(fonts/Montserrat/Montserrat-Bold.svg) format('svg');
  font-weight: bold;
  font-style: normal;
}

@import "modules/text-field/text-field.scss";
@import "modules/text-field/_width/text-field_middle_width.scss";
@import "modules/text-field/_type/text-field_type_subscription.scss";
@import "modules/label/label.scss";
@import "modules/dropdown/dropdown.scss";
@import "modules/dropdown/_display_inline-block/dropdown_display_inline-block.scss";
@import "modules/dropdown/_width/dropdown_middle_width";
@import "modules/dropdown/_width/dropdown_small_width.scss";
