@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat/Montserrat-Regular.woff) format('woff'),
    url(fonts/Montserrat/Montserrat-Regular.ttf) format('truetype'),
    url(fonts/Montserrat/Montserrat-Regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat/Montserrat-Bold.woff) format('woff'),
  url(fonts/Montserrat/Montserrat-Bold.ttf) format('truetype'),
  url(fonts/Montserrat/Montserrat-Bold.svg) format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

$width-big: 320px;
$width-middle: 266px;
$width-small: 150px;

$height: 44px;

@import "modules/text-field/text-field";
@import "modules/label/label";
@import "modules/dropdown/dropdown.scss";
@import "modules/dropdown-counting/dropdown-counting";
@import "modules/dropdown-date/dropdown-date";
@import "modules/checkbox/checkbox";
@import "modules/expandable-checkbox-list/expandable-checkbox-list";
@import "modules/room-information/room-information";