.form-elements__text-field_focus {
  margin-top: 23px;
  position: relative;
  &::before {
    content: 'hover / focus';
    position: absolute;
    top: 1px;
    right: 0;
    text-transform: uppercase;
    font-family: $MontserratFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: -0.3px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
  }
  & .text-field__input {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
}